.list{
    display: flex;
    width: 100%;

    .listContainer{
        flex: 6;
        

        .list-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 1px;

            button{
                cursor: pointer;
            }
        }

        .actionBtnContainer{

            display: flex;
            align-items: center;
            gap: 2px;
        }
        .actionBtnContainer > button{
            border: 0;
            border-radius: 10%;
            margin: 0 5px;
            font-size: 14px;
        }
    }
}