@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
   
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
 
    /* color: #fff; */
}

body {
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
   
    
}